@charset "utf-8";
ul, ol {
    color: #668ad8;/*文字色*/
    border: dashed 2px #668ad8;/*破線 太さ 色*/
    padding: 0.5em 0.5em 0.5em 2em;
  }
  
  ul li, ol li {
    line-height: 1.5;
    padding: 0.5em 0;
  }